@font-face {
    font-family: 'arthurbecker';
    src: url('../fonts/arrdb.woff2') format('woff2'),
         url('../fonts/arrdb.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arthurbecker';
    src: url('../fonts/arbdb.woff2') format('woff2'),
         url('../fonts/arbdb.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'arthurbecker';
    src: url('../fonts/arridb.woff2') format('woff2'),
         url('../fonts/arridb.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'arthurbecker';
    src: url('../fonts/arbidb.woff2') format('woff2'),
         url('../fonts/arbidb.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}