
/*----------------------------------------------*\
		$SURVEY_TOOL_&_USER_PANEL
\*----------------------------------------------*/
/**
* GENERAL
* HEADER_PAGE
* BODY_CONTENT
* FOOTER
* USER_PANEL_SURVEY
* 
* 
*/

/*----------------------------------------------*\
		$GENERAL
\*----------------------------------------------*/

.center {text-align: center;}
.left {text-align: left !important;}
.right {text-align: right !important;}
.hidden {display:none;}
.margin-bottom-10 {margin-bottom: 10px;}
.icon-small i {font-size: 1.4em;}
.nav-tabs-right {padding-right: 20px;
	margin-top: -40px;
	border-bottom: none !important;}
.nav-tabs-right li {float: right !important;
	margin-bottom: -2px !important;}
.nav-tabs-right li a {border-width: 2px !important;}
.content-box-tabs {border: 2px solid #ddd;
	min-height: 600px;}
h2 {width: auto;
	max-width: 70%;
	display: inline-block;}
.close-table {text-align: right;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;}
.btn-close-aspa {color:#B60000}
.close-frame {text-align: right;
    margin-top: -18px;
    margin-right: -7px;}
.red {color: #B60000}
.btn-transparent {background: transparent;
    border: none !important;
    padding: 0px !important;}	
.btn-survey {font-weight: bold !important;}
.fleft {float:left;}
.error-msg {color: #B60000;
    font-size: 1.1em;
    font-weight: bold;}
	
/*tablas*/
.tab-colum-title {width: 25%;}
.tab-colum-project {width: 11%;}
.tab-colum-date {width: 10%;}
.tab-colum-admin {width: 4%;}
.tab-colum-stats {width: 20%;}


/*----------------------------------------------*\
		$HEADER_PAGE
\*----------------------------------------------*/

.page-header {
    padding-left: 20px;
    margin: 0px 0 20px;
    border-bottom: 3px solid #ccc !important;
   /* height: 135px;*/
}
h1 {float: left;
	/*width: 50%;*/
	display:flex;
	margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;}
h1 img {width: 125px;
	margin-right: 20px;}
h1 span{font-size: 0.6em;
    position: absolute;
    top: 73px;
    left: 169px;}
.logo {float:left;}
.title-header {margin-top: 28px;}
.title-header p {font-size: 0.6em;}
.header-buttons {float:right;
	margin-top: 33px;
	margin-right: 50px;}
.header-buttons a {margin-left: 35px;}

/*----------------------------------------------*\
		$BODY_CONTENT
\*----------------------------------------------*/

.body-content {margin:10px 10px;}
.title-content {border-bottom: 1px solid #eee;
	padding-bottom: 20px;}
.title-content-no-underline {padding-bottom: 20px;}
.content {margin: 10px 30px 0px 30px;}
.row-menu {width: 70%;
	left: 15%;
	position: relative;}
.main-container ul li {list-style: none;}
.user-panel-menu {min-height: 388px;
	padding-top: 7%;}
.user-panel-menu i {margin-bottom: 10px;
	font-size: 8em;}
.user-panel-menu ul li {margin-bottom: 40px;}

/*----------------------------------------------*\
		$FOOTER
\*----------------------------------------------*/

footer {margin-top: 10px;}
.row-footer {width: 70%;
	left: 15%;
	position: relative;
	margin:10px 10px;}
.footer-logos {color:#555;
	text-align: center;
	padding-bottom: 5px;
	border-top: 1px solid #eee;
	padding-top:5px;}

/*----------------------------------------------*\
		$LOGIN
\*----------------------------------------------*/

.login-content {display: flex;}
.login-frame {width: 20%;
    margin: 10% auto;}
.login-frame form h3 {margin: 20px 0px;}
.form-group label {width: 100%;}

/*----------------------------------------------*\
		$USER_PANEL_SURVEY
\*----------------------------------------------*/

.user-panel-surveys {min-height: 388px;
	/*padding-top: 7%;*/}
.surveys-create-button {text-align: right;
	padding: 10px;}
.surveys-table {/*text-align: center;*/}
.btn-pag a {height: 35px;}
.btn-arrow {padding-top: 9px !important;}
.percent-bar {margin: 0 !important;
	border: 1px solid #555;}
.surveys-table ul {margin: 0;
	padding: 0 !important;}
.surveys-table ul li{padding: 0 !important;}
.surveys-table td {vertical-align: middle !important;}

/*new survey*/
{margin: 20% auto;}
.survey-win-dialog {margin: 14% auto !important;
	width: 60% !important;}
.remove-win-dialog {margin: 14% auto !important;
	width: 30% !important;}
.remove-frame-buttons {width: 70%;
	margin: 5px auto;}
.btn-accept-remove-element {float:right;}
.survey-frame {border: 1px solid #555;
	margin: 10px 0px;
	padding: 20px 10px;
    border-radius: 5px;}
.survey-frame h3 {font-size: 1em;
 	margin-left: 10px;
    margin-top: -28px;
    background-color: #fff;
    padding: 0px 5px;
    display: inline-block;}
.survey-frame legend {font-size: 1em;
    margin-left: 10px;
    /*margin-top: -28px;*/
    margin-bottom: 0px;
    background-color: #fff;
    padding: 0px 5px;
    /*display: inline-block;*/
    border: none;
    max-width: 185px;}
.survey-frame label, 
.survey-frame select {padding-left: 0px !important;
	padding-right: 0px !important;}
.survey-frame input[type="text"] {padding-left: 5px !important;
	padding-right: 5px !important;}
.survey-frame a {
    margin-top: 2px;
    display: inline-block;
    /*width: 90px;
    height: 45px;*/}
/*.survey-frame textarea {margin-left: 30px;}*/
.btn-search {padding: 9px !important;}
.survey-or {padding-top: 10px;}
.scroll-frame {height: 250px;
	overflow-y: auto;
	padding: 0px 5px;}
.survey-search-table {margin: 0px 0px;
	padding: 0px 5px;
    border-radius: 5px;}
.survey-search-table ul {margin-bottom: 0px !important;
	padding: 0px !important;
    display: inline-block;
    width: 100%;}
.survey-search-table ul li {padding: 3px 7px 0px 0px;
	width: 33%;}
.survey-search-table table tbody td {vertical-align: middle !important;
	padding: 2px 10px !important;}
.circle-info {border-radius: 11px;
    padding: 4px;
    margin-left: 5px;
    font-size: 0.8em;
    width: 24px;
    text-align: center;}
.circle-blue {background-color: #2566C2;
    color: #fff;
    border: 1px solid #2566C2;}
.circle-grey {background-color: #585858;
    color: #fff;
    border: 1px solid #585858;    
    margin-top: 1px;
    margin-right: 2px;}
.circle-red {background-color: #B60000;
    color: #fff;
    border: 1px solid #B60000;}
.btn-create-survey {margin-top: 30px;
	height: 45px;}

/*----------------------------------------------*\
		$USER_PANEL_EDIT_SURVEY
\*----------------------------------------------*/

.edit-content {border-color: #337ab7;
    border-radius: 10px;
	padding: 10px;}
.edit-with-browser {display:flex;}
.edit-with-browser .edit-content-center{float:left;
	width: 83%;
	position: relative;
    min-height: 1px;}
.edit-with-browser .browser-left {display: inherit;
	float:left;
	width: 16%;
	position: relative;
    min-height: 1px;} 
.edit-with-browser .edit-survey-frame {width: 90%;}
.edit-with-browser .panel-section {width: 90%;}
.browser-left {display: none;} 
.nav-tab-edit {border-color: #007A00 !important;}
.nav-tab-edit .active a {border-left-color: #337ab7 !important;
	border-right-color: #337ab7 !important;
	border-top-color: #337ab7 !important;}
.edit-tab a {color: #337ab7 !important;}
.share-tab a {color: #B60000 !important;}
.statistic-tab a {color: #000 !important;}
.edit-survey-frame {width: 70%;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;}
.survey-info-title {font-size: 1.5em;
    border: none;
    margin: 0 auto;
    width: 45%;
    text-align: center;}
    
.survey-info-project {float:right;
	width: 50%;
    display: none;}
.survey-info-project label {margin-top: 7px;}
.survey-info-description {width: 70%;
    margin-top: 15px;
    display: none;}
.survey-info-url {width: 70%;
    margin-top: 15px;
    display: none;}
.survey-info-description label {margin-top: 15px;}
.survey-info-url label {margin-top: 9px;}
.btn-copy-clipboard {color:#337AB7;
	padding: 5px !important;}
.btn-copy-clipboard:focus, 
.btn-copy-clipboard:hover {color:#000 !important;}
.display-default-arrow {float:left;
    margin-left: 20px;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    border: none !important;
    background-color: #fff;
    border-radius: 3px;}
.display-default-arrow:focus, .display-default-arrow:hover{background-color: #ddd;}
    

.add-frame {width: 70%;
	margin: 20px auto;
	text-align: center;}
.add-menu-frame {width: 100%;
	margin: 20px auto;
	text-align: center;
    display: inline-block;}
.btn-add-menu {padding: 2.5px 10px !important;
    background-color: #fff;
    border: 1px solid #337ab7 !important;
    color: #337ab7;}
.btn-add-menu:hover, .btn-add-menu:focus {color:#fff !important;
	background-color: #337ab7;}
.add-menu {display: none;
	width: 46% !important;
	padding-left: 0px !important;}
.add-vacio {width: 46% !important;}
.btn-add { width: 8% !important;
	color: #337ab7;}
.panel-section {width: 70%;
	margin: 20px auto;
	text-align: center;
	background-color: #fff;
    border: 1px solid #337ab7;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);}
.panel-section > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    border-radius: 7px;
    width: 100%;
    display: inline-block;}
/*.panel-section > .panel-heading h3:hover, .panel-section > .panel-heading h3:focus {
	background-color: #004D00;
}*/
.panel-heading h3 {margin: 4px 0px;}
.survey-section-title-unselected {border:none;
	background-color: transparent;
	/*color: #fff;*/
	/*text-align:center;*/
	width: 100%;}
.survey-section-title-selected, 
.survey-section-title-unselected:hover, 
.survey-section-title-unselected:focus {border:none;
	background-color: #fff;
	color: #000;
	/*text-align:center;*/
	width: 100%;
	padding: 5px;}
.panel-section-delete {float: right;}
.panel-section .panel-heading a {color: #fff;}
.panel-section .panel-heading a:hover, .panel-section .panel-heading a:focus {color: #70FFFF;}

.qtype-icon-text{color: #000;
	font-size: 0.9em;}
.form-control-small {padding: 5px 12px;
    font-size: 0.9em;
    line-height: 1.428571;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.basic-settings-right-options {margin-top: 23px;
    padding-left: 30px !important;}
.basic-settings-right-options div label i {margin-right: 5px;
    margin-top: 2px;
    min-width: 24px;
    text-align: right;}
.basic-settings-right-options div label {display: flex;}    
.basic-settings-right-options div label span {padding-top: 5px;}
.basic-settings-right-options div {margin-bottom: 9px;}
.btn-qtype {display: inline-table;}
.btn-add-media {margin-top: 10px;
    display: inline-flex;}
.btn-add-media span {margin-left: 12px;
    margin-top: 4px;}
    
.qtype-list {padding: 0px;
    margin: 0px -15px;}
    
.frame-basic-Settings {display: none;}
.panel-question {width: 95%;
	margin: 30px auto;
	text-align: center;
	background-color: #fff;
    border: 1px solid #255885;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);}
.panel-question > .panel-heading {
    color: #000;
    background-color: #B7D4FA;
    border-color: #255885;
    border-radius: 7px;
    width: 100%;
    display: inline-block;}
.panel-question .panel-heading a {color: #000;}
.panel-question .panel-heading a:hover, .panel-question .panel-heading a:focus {color: #70FFFF;}
.panel-question-basic-setting {background-color: #ccc;
	color: #000;
    margin: -20px -15px 0px -15px;
    padding-top: 9px;}
.panel-question-basic-setting .alt-question {/*padding-top: 4px;*/}
.panel-question-basic-setting .mandatory-question i {background-color: #ccc;}
.panel-question-basic-setting div label,
.panel-question-basic-setting div button {display: inline-flex;
    padding: 0px 10px;
    min-height: 30px;}
.panel-question-basic-setting div label span,
.panel-question-basic-setting div button span {margin-top: 4px;}
.panel-question-basic-setting div label i, 
.panel-question-basic-setting div button i {margin-right: 5px;}
.panel-question-basic-setting div button[active="false"]{border: 1px solid #3C3C3C; 
	background-color: transparent;}
.panel-question-basic-setting div button[active="true"],
.panel-question-basic-setting div button[active="false"]:focus,
.panel-question-basic-setting div button[active="false"]:hover {border: 1px solid #3C3C3C; 
	background-color: #B7D4FA;}

.btn-question-basic-settings {padding-top: 2px !important;}
.question-frame {border: 1px solid #555;
	margin: 15px 0px;
	padding: 10px 20px;
    border-radius: 5px;
    text-align: left;}
.question-frame h4 {font-size: 1em;
    margin-left: -5px;
    margin-top: -19px;
    background-color: #fff;
    padding: 0px 5px;
    display: inline-block;}
.question-frame label, 
.question-frame input[type="text"],
.question-frame select {padding-left: 0px !important;
	padding-right: 0px !important;}
.question-frame input[type="submit"] {margin-top: 4px;
    width: 90px;
    height: 45px;}
.question-frame p {margin: 0px;}
/*.question-frame-help {display:none;}*/
.question-frame-multimedia {}
.multimedia-item button {font-size: 1.3em;
    margin-left: 5px;}
.multimedia-item i {font-size: 1.3em;}

.question-frame legend{font-size: 1em;
    font-weight: bold;
    border: none;
    margin-bottom: 5px;}

.likert-options {display: inline-flex;
    width: 100%;
    text-align: center;}
.likert-options-frame {border: 1px solid #000;
    width: 60%;
    margin: 0 auto;}
.likert-options-frame div {float:left;
	margin:	5px 0px;
	width: 14.2%;}
.likert-options-frame div input[type="radio"] {width: 100%;}
.likert-legend {width: 99%;
    margin-top: 5px;
    display: inline-block;}
.likert-legend div {float:left;
	width: 33.3%;
	text-align: center;}
	
.option-list {width: 70%;
	margin: 0 auto;
    padding: 0px;}
.option-item {margin: 5px 0px;
    display: inline-block;
    clear: both;
    width: 100%;}
.option-item .circle-info {}
.option-title {width: 70% !important;
    margin: 0px 5px;
    height: 28px !important;}
.option-icons button {margin: 0px 3px;}
.btn-plus-small {font-size: 1.3em;}
.btn-plus-small:hover {cursor:pointer;}
.routes-select {display: flex;}
.routes-select label {margin-top: 3px;}
.routes-select select {margin: 0px 8px;}

.previewFileUpliaded {text-align: center;
	margin-top: 5px;}
.previewFileUpliaded img{max-width: 60%}

/*----------------------------------------------*\
		$USER_PANEL_EDIT_SURVEY
\*----------------------------------------------*/

.survey-form {border: 2px solid #337ab7;
    border-radius: 10px;
    padding: 15px 1.5%;}
.form-question {background-color: #C8C8C8;
	border-radius: 10px;
    padding: 1.5%;
    margin-bottom: 2%;}
.form-question textarea {border: 1px solid #000;}
.form-question label {font-size: 1.3em !important;
	width: 95%;}
.form-question legend {font-size: 1.3em !important;
    width: 95%;
    font-weight: bold;
    border: none;
    margin-bottom: 5px;}
.form-question label img {margin: 5px;}
.form-question-content {margin: 0 auto;
	    width: 32%;
	    min-width: 200px;}
.form-question-content .likert-options .likert-options-frame {background-color: #fff;}
/*.form-options {display: inline-block;
    text-align: left;}*/
.btn-submit-page {margin-top: 20px;}

.survey-finish-content {width: 50%;
	margin: 280px auto;
	text-align: center;}