
/*----------------------------------------------*\
		$SURVEY_TOOL_&_USER_PANEL
\*----------------------------------------------*/
/**
* GENERAL
* HEADER_PAGE
* BODY_CONTENT
* FOOTER
* USER_PANEL_SURVEY
* POLLS
* 
*/

/*----------------------------------------------*\
		$GENERAL
\*----------------------------------------------*/
html {position: relative;
  min-height: 100%;}
body {margin-bottom: 135px !important;}  
  
.center {text-align: center;}
.left {text-align: left !important;}
.right {text-align: right !important;}
.hidden {display:none;}
.margin-bottom-10 {margin-bottom: 10px;}
.icon-small i {font-size: 1.4em;}
.nav-tabs-right {padding-right: 20px;
	margin-top: -40px;}
.nav-tabs-right li {float: right !important;
	margin-bottom: -2px !important;}
.nav-tabs-right li a {border-width: 2px !important;}
.content-box-tabs {border: 2px solid #ddd;
	min-height: 600px;}
h2 {width: auto;
	max-width: 70%;
	display: inline-block;}
.close-table {text-align: right;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;}
.btn-close-aspa {color:#B60000}
.close-frame {text-align: right;
    margin-top: -18px;
    margin-right: -7px;}
.red {color: #B60000;
	border-color: #B60000 !important;}
.btn-transparent {background: transparent;
    border: 2px solid transparent !important;
	border-radius: 5px;
    padding: 1px 2px !important;
    vertical-align: middle;}
.btn-transparent:hover, .btn-transparent:focus {border-color: inherit !important;}	
.btn-survey {font-weight: bold !important;}
.fleft {float:left;}
.error-msg {color: #B60000;
    font-size: 1.1em;
    font-weight: bold;}
.st-styles .form-control, 
.st-styles .form-control-small {color: #4A4A4A;
	border-color: #4A4A4A; 
	margin-top: 0 !important;}
.panel-primary {border-radius: 10px !important;}
	
.textarea-subsection {color: #4A4A4A;
	border-color: #4A4A4A; margin-top: 0 !important;
	margin-left: 5px !important;
	max-width:150px !important;
	vertical-align: middle !important;
	display:inline-block}
	

.input-subsection {color: #4A4A4A;
	border-color: #4A4A4A; margin-top: 0 !important;
	margin-left: 5px !important;
	max-width:150px !important;
	vertical-align: middle !important;
	text-align:center;
	border: 2px solid !important;
	border-color: #23527C !important;   
	display:inline-block}

.respsettingsCheckbox {
	vertical-align: middle !important;
}

.visuallyhidden{
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
}

.sr-only {position: absolute;
    top: -99999px;} 

input[type="number"] {
   width:60px;
   text-align:center;
   rows:1;
   cols:4;
}

/*focus*/

a:focus {
	border: 2px solid !important;
	border-radius: 5px;
	padding: 2px;}

:focus {border: 2px solid !important;
	/*border-color: rgba(38, 92, 137, 0.8) !important;*/
	border-color: #23527C !important; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(69, 105, 136, 0.6) !important;
  	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(38, 92, 137, 0.6) !important;*/
  	outline: 0 none !important;
  	display: inline-block;
}

textarea:focus,
select:focus,
input[type="radio"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {border: 2px solid !important;
	border-color: #23527C !important;   
  	/*border-color: rgba(69, 105, 136, 0.8) !important;*/
  	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(69, 105, 136, 0.6) !important;
  	outline: 0 none !important;
}

.has-error input[type="text"]:focus,
.has-error input[type="password"]:focus {border: 2px solid !important;
	border-color: #800000 !important;   
  	/*border-color: rgba(128, 0, 0, 0.8) !important;*/
  	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(128, 0, 0, 0.6) !important;
  	outline: 0 none !important;
}
	
/*tablas*/
.tab-colum-title {width: 25%;}
.tab-colum-project {width: 11%;}
.tab-colum-date {width: 10%;}
.tab-colum-admin {width: 4%;}
.tab-colum-stats {width: 20%;}

/*buttons*/
.btn-add-small {padding: 2px 20px !important;
    margin-left: 60px;}
.btn-add-small span {margin-left: 5px;}
.st-styles .btn {/*box-shadow: inset 0 3px 5px rgba(255, 255, 255, .30) !important;*/}
.st-styles .btn:hover,
.st-styles .btn:focus {/*box-shadow: inset 0 3px 5px rgba(0, 0, 0, .30) !important;*/}
.st-styles .btn-primary {background-color: #337AB7 !important;}
.st-styles .btn-primary:hover,
.st-styles .btn-primary:focus {background-color: #286090 !important;}

textarea {resize:none;
	margin-top: 3px !important;}

/*----------------------------------------------*\
		$ERROR
\*----------------------------------------------*/

.error{background-color: #A94442;
	padding: 6px 12px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	width: 120px;
	position: absolute;
	right: -130px;
    top: 26px;}
.error:before{content: '';
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #A94442;
	border-left: 8px solid transparent;
	left: -16px;
	position: absolute;
	top: 5px;}


/*----------------------------------------------*\
		$HEADER_PAGE
\*----------------------------------------------*/

.page-header {margin: 0px 0 20px;
    border-bottom: 3px solid #ccc !important;
    padding-left: 4% !important;
}
h1 {float: left;
	/*width: 50%;*/
	display:flex;
	margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;}
h1 img {width: 125px;
	margin-right: 20px;}
h1 span{font-size: 0.6em;
    position: absolute;
    top: 73px;
    left: 169px;}
.logo {float:left;}
.title-header {margin-top: 28px;}
.title-header p {font-size: 0.5em;}
.header-buttons {float:right;
	margin-top: 33px;
	margin-right: 50px;}
.header-buttons a {margin-left: 35px;}
button span {margin-left: 5px;}

/*----------------------------------------------*\
		$BODY_CONTENT
\*----------------------------------------------*/

.body-content {margin:10px 10px;}
.title-content {border-bottom: 1px solid #eee;
	padding-bottom: 20px;}
.title-content-no-underline {margin: 0 4%;}
.content {margin: 10px 4% 0px;}
.row-menu {width: 70%;
	left: 15%;
	position: relative;}
.main-container ul li {list-style: none;}
.user-panel-menu {min-height: 388px;
	padding-top: 7%;}
.user-panel-menu i {margin-bottom: 10px;
	font-size: 8em;}
.user-panel-menu ul li {margin-bottom: 40px;}


/*----------------------------------------------*\
		$FOOTER
\*----------------------------------------------*/

footer {margin-top: 10px;
	width: 100%;
	position: absolute;
	bottom: 0;}
.row-footer {width: 70%;
	left: 15%;
	position: relative;
	margin:10px 10px;}
.footer-logos {color:#555;
	text-align: center;
	padding-bottom: 5px;
	border-top: 1px solid #eee;
	padding-top:5px;}
.footer-logo-content {width: 80%;
    margin: 0 auto;}
.footer-logo-content img {width: 60px;
    float: left;
    margin-left: 20px;}

/*----------------------------------------------*\
		$LOGIN
\*----------------------------------------------*/

.login-content {display: flex;
	width: 80%;
    margin: 0 auto;}
.login-content-text {width: 70%;
    margin: 30px auto 0;
    padding: 0 5%;}
.login-content-text ul li{list-style: initial !important;}
.login-frame {width: 30%;
    margin-top: 30px;}
.login-frame form {min-width: 250px;
    width: 85%;
    border: 1px solid #e0e0e0;
    background-color: #fbfbfb;
    padding: 25px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(69, 105, 136, 0.3) !important;}
.login-frame form h3 {margin: 20px 0px;}
.form-group label {width: 100%;}
.login-button {margin-bottom: 6px !important;}

/*----------------------------------------------*\
		$USER_PANEL_SURVEY
\*----------------------------------------------*/

.nav-tabs-survey-manager {border-bottom: 2px solid #6e6e6e !important;}
.nav-tabs-survey-manager li {min-width: 85px;
    text-align: center;
    width: 10%;}
.nav-tabs-survey-manager li a {background-color: #6e6e6e;
	border: none !important;
	color: #eee;}
.nav-tabs-survey-manager li a:focus, 
.nav-tabs-survey-manager li a:hover {background-color: #6e6e6e !important;
	border: none !important;
	color: #eee !important;
	margin-top: -10px;
    height: 50px;}
.nav-tabs-survey-manager li.active a:focus, 
.nav-tabs-survey-manager li.active a:hover {margin-top: -10px;
    height: 54px;
    /*box-shadow: none !important;*/
    outline: 0 none !important;}
.nav-tabs-survey-manager > li.active > a {background-color: #eee !important;
    border: 2px solid #6e6e6e !important;
    border-bottom-color: transparent !important;
    color: #444 !important;}
.gray-padding{height: 20px;
	background-color: #eee}
.user-panel-surveys {min-height: 388px;
	margin: 0 12%;
	/*padding-top: 7%;*/}
.surveys-create-button {text-align: right;
	padding: 10px;}
.surveys-table {/*text-align: center;*/}
.btn-pag a {height: 35px;}
.btn-arrow {padding-top: 9px !important;}
.percent-bar {margin: 0 !important;
	border: 1px solid #555;}
.progress-bar {min-width: 2em}
.surveys-table ul {margin: 0;
	padding: 0 !important;}
.surveys-table ul li{padding: 0 !important;}
.surveys-table td {vertical-align: middle !important;}

/*new survey*/
{margin: 20% auto;}
.survey-win-dialog {margin: 14% auto !important;
	width: 60% !important;}
.poll-win-dialog {margin: 1% auto !important;
	width: 60% !important;}
.remove-win-dialog {margin: 14% auto !important;
	width: 30% !important;}
.remove-frame-buttons {width: 70%;
	margin: 5px auto;}
.btn-accept-remove-element {float:right;}
.survey-frame {border: 1px solid #555;
	margin: 10px 0px;
	padding: 20px 15px;
    border-radius: 5px;
    position: relative;}
.survey-frame h3 {font-size: 1em;
 	/*margin-left: 10px;
    margin-top: -28px;*/
    background-color: #fff;
    padding: 0px 5px;
    display: inline-block;
    position: absolute;
	top: -13px;}
.survey-frame legend {font-size: 1em;
    /*margin-left: 10px;*/
    /*margin-top: -28px;*/
    margin-bottom: 0px;
    background-color: #fff;
    padding: 0px 5px;
    /*display: inline-block;*/
    border: none;
    /*max-width: 185px;*/
    width: auto;}
.survey-frame textarea {height: 54px !important;}
.div-create-question-mandatory {margin-top: 10px;}
.div-btn-create-question {margin-top: 28px;}
.survey-frame fieldset legend{margin-bottom: 5px;
    font-weight: bold;}
.survey-frame label {padding-left: 5px !important;
	padding-right: 0px !important;} 
.survey-frame select {/*padding-left: 0px !important;
	padding-right: 0px !important;*/}
.survey-frame input[type="text"] {padding-left: 5px !important;
	padding-right: 5px !important;}
.survey-frame a {
    margin-top: 2px;
    display: inline-block;
    /*width: 90px;
    height: 45px;*/}
/*.survey-frame textarea {margin-left: 30px;}*/
.btn-search {padding: 9px !important;}
.survey-or {padding-top: 10px;}
.scroll-frame {height: 250px;
	overflow-y: auto;
	padding: 0px 5px;}
.survey-search-table {margin: 0px 0px;
	padding: 0px 5px;
    border-radius: 5px;}
.survey-search-table ul {margin-bottom: 0px !important;
	padding: 0px !important;
    display: inline-block;
    width: 100%;}
.survey-search-table ul li {padding: 3px 7px 0px 0px;
	width: 33%;}
.survey-search-table table tbody td {vertical-align: middle !important;
	padding: 2px 10px !important;}
.circle-info {border-radius: 11px;
    padding: 4px;
    margin-left: 5px;
    font-size: 0.8em;
    width: 24px;
    text-align: center;}
.circle-blue {background-color: #2566C2;
    color: #fff;
    border: 1px solid #2566C2;}
.circle-grey {background-color: #585858;
    color: #fff;
    border: 1px solid #585858;    
    margin-top: 1px;
    margin-right: 2px;}
.circle-red {background-color: #B60000;
    color: #fff;
    border: 1px solid #B60000;}
.btn-create-survey {margin-top: 33px;
	height: 45px;}

/*----------------------------------------------*\
		$USER_PANEL_EDIT_SURVEY
\*----------------------------------------------*/

.edit-content {border-color: #337ab7;
    border-radius: 10px;
	padding: 10px;}
.edit-with-browser {display:flex;}
.edit-with-browser .edit-content-center{float:left;
	width: 83%;
	position: relative;
    min-height: 1px;}
.edit-with-browser .browser-left {display: inherit;
	float:left;
	width: 16%;
	position: relative;
    min-height: 1px;} 
.edit-with-browser .edit-survey-frame {width: 90%;}
.edit-with-browser .panel-section {width: 90%;}
.browser-left {display: none;} 
.nav-tab-edit {border-color: #007A00 !important;
	border-bottom: none !important;}
.nav-tab-edit .active a {border-left-color: #337ab7 !important;
	border-right-color: #337ab7 !important;
	border-top-color: #337ab7 !important;}
.edit-tab a {color: #337ab7 !important;}
.share-tab a {color: #B60000 !important;}
.statistic-tab a {color: #000 !important;}
.edit-survey-frame {width: 70%;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;}

.edit-survey-head{margin: 10px auto;
    width: 70%;
    display: flex;
    padding: 0 1.5%;}
.survey-language {width: 50%;
	text-align: right;}
.survey-preview {width: 50%;
	margin: auto 0;}   
.survey-language select {margin: 0 5px;}
.survey-language label span {margin-left: 5px;}
    
.survey-info-title {font-size: 1.5em;
    border: none;
    margin: 0 auto;
    width: 42%;
    text-align: center;}
    
.survey-info-project {float:right;
	width: 50%;
    display: none;}
.survey-info-project label {margin-top: 7px;}
.survey-info-description {width: 70%;
    margin-top: 15px;
    display: none;}
.survey-info-url {width: 70%;
    margin-top: 15px;
    display: none;}
.survey-info-description label {margin-top: 15px;}
.survey-info-url label {margin-top: 9px;}
.btn-copy-clipboard {color:#337AB7;
	padding: 5px !important;}
.btn-copy-clipboard:focus, 
.btn-copy-clipboard:hover {color:#000 !important;}
.display-default-arrow {float:left;
    margin-left: 20px;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    border: none !important;
    background-color: #fff;
    border-radius: 3px;}
.display-default-arrow:focus, .display-default-arrow:hover{background-color: #ddd;}
    

.add-frame {width: 70%;
	margin: 20px auto;
	text-align: center;}
.add-menu-frame {width: 50%;
    margin-left: 48%;
    text-align: left;
    display: inline-block;
    margin-bottom: 39px;}
.btn-add-element {float: left;}
.add-menu-points {width: 20px;
    padding: 0 15px;
    display: inherit;}
.btn-add-menu {padding: 2.5px 10px !important;
    background-color: #fff;
    border: 1px solid #337ab7 !important;
    color: #337ab7;}
.btn-add-menu:hover, .btn-add-menu:focus {color:#fff !important;
	background-color: #337ab7;}
.add-menu {display: none;
	padding-left: 0px !important;}
.add-vacio {width: 46% !important;}
.btn-add {color: #337ab7;}


/* Panel heading */
.panel-heading {border-radius: 7px;
    width: 100%;
    display: inline-block;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;}
.panel-heading-display-arrow {/*border: none;*/
    /*background-color: transparent;*/
    float: left;
    margin-right: 15px;}
    
/** section **/    
.survey-sections {padding: 0;}
.panel-section {width: 70%;
	margin: 20px auto;
	text-align: center;
	background-color: #fff;
    border: 1px solid #337ab7;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);}    
.panel-section > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    }
.section-head.btn-transparent:hover,
.section-head.btn-transparent:focus {border-color: #fff !important}
.panel-heading h3 {margin: 4px 0px;
    float: left;
    width: 70%;}
.panel-heading .panel-section-buttons button {margin: 0px 5px;}
.survey-section-title-unselected {border:none;
	background-color: transparent;
	width: 100%;
	height: 26px;}
.survey-section-title-selected, 
.survey-section-title-unselected:hover, 
.survey-section-title-unselected:focus {border:none;
	background-color: #fff;
	color: #000;
	width: 100%;
	padding: 5px;
	border-radius: 5px;}
.panel-section-buttons {float: right;}
.panel-section .panel-heading a {color: #fff;}
.panel-section .panel-heading a:hover, .panel-section .panel-heading a:focus {color: #70FFFF;}

.qtype-icon-text{color: #000;
	font-size: 0.9em;}
.form-control-small {padding: 5px 12px;
    font-size: 0.9em;
    line-height: 1.428571;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.basic-settings-right-options {margin-top: 23px;
    padding-left: 30px !important;}
.basic-settings-right-options div label i {margin-right: 5px;
    margin-top: 2px;
    min-width: 24px;
    text-align: right;}
.basic-settings-right-options div label {display: flex;}    
.basic-settings-right-options div label span {padding-top: 5px;}
.basic-settings-right-options div {margin-bottom: 9px;}
.btn-qtype {display: inline-table;}
.btn-qtype .btn-default {border: 1px solid #4A4A4A;}
.btn-qtype .btn-default:hover {border-color: rgba(74, 74, 74, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(74, 74, 74, 0.6) !important;
  outline: 0 none !important;} 
.btn-add-media {margin-top: 10px;
    display: inline-flex;}
.btn-add-media span {margin-left: 12px;
    margin-top: 4px;}
    
.qtype-list {padding: 0px;
    margin: 0px -15px;}
    
.frame-basic-Settings {display: none;}

.section-pages {padding: 0;}

/** questions **/

.panel-question {width: 95%;
	margin: 15px auto;
	text-align: center;
	background-color: #fff;
    border: 1px solid #1F4B71;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);}
.panel-question > .panel-heading {
    color: #1F4B71;
    background-color: #B7D4FA;
    border-color: #1F4B71;
    border-radius: 7px;
    width: 100%;
    padding: 3px 15px;
    display: inline-block;
    position: relative;}
.panel-question .panel-heading a {color: #000;}
.panel-question .panel-heading a:hover, .panel-question .panel-heading a:focus {color: #70FFFF;}

.btn.btn-question-head {color: #1F4B71;
    background-color: #B7D4FA;
    border-color: #1F4B71;}
.btn.btn-question-head[active=true] {color: #B7D4FA;
    background-color: #1F4B71;
    border-color: #000;}
.btn.btn-question-head:hover,
.btn.btn-question-head:focus {box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.500);}
.panel-question .btn-remove {color: #B60000 !important;}
.btn-transparent.btn-remove:hover,
.btn-transparent.btn-remove:focus {border-color: #B60000 !important;}

.question-frame {border: 1px solid #555;
	margin: 15px 0px !important;
	padding: 15px 20px;
    border-radius: 5px;
    text-align: left;
    position: relative;}
.question-frame h4 {font-size: 1em;
    /*margin-left: -5px;
    margin-top: -19px;*/
    background-color: #fff;
    padding: 0px 5px;
    display: inline-block;
    position: absolute;
    top: -19px;
    left: 12px;}
.question-frame div[type="global"], 
.question-frame input[type="text"],
.question-frame select {padding-left: 20px !important;
	padding-right: 20px !important;
	margin-bottom: 10px !important;}
.question-frame input[type="submit"] {margin-top: 4px;
    width: 90px;
    height: 45px;}
.question-frame p {margin: 0px;}
/*.question-frame-help {display:none;}*/
.question-frame-multimedia button {margin-left: 60px;}

.resource-type-select {
	width: 25% !important;
}

.multimedia-item button {font-size: 1.3em;
    margin-left: 5px;}
.multimedia-item i {font-size: 1.3em;}

.multimedia-list{
	padding-bottom:10px;
	padding-left: 20px;
}

.question-frame legend{font-size: 1em;
    font-weight: bold;
    border: none;
    margin-bottom: 5px;}

.likert-options {display: inline-flex;
    width: 100%;
    text-align: center;}
.likert-options-frame {border: 1px solid #000;
    width: 60%;
    margin: 0 auto;}
.likert-options-frame div {float:left;
	margin:	5px 0px;
	width: 14.2%;}
.likert-options-frame div input[type="radio"] {width: 100%;}
.likert-legend {width: 99%;
    margin-top: 5px;
    display: inline-block;}
.likert-legend div {float:left;
	width: 33.3%;
	text-align: center;}

.matrix-title {
	padding: 5px;
	text-align: center;}


	
.matrix-options {display: inline-flex;
    width: 100%;
    text-align: center;}
.matrix-options-frame {border: 1px solid #000;
    width: 60%;
    margin: 0 auto;}
.matrix-options-frame div {float:left;
	margin:	5px 0px;
	width: 14.2%;}
.matrix-options-frame div input[type="radio"] {width: 100%;}
.matrix-legend {width: 99%;
    margin-top: 5px;
    display: inline-block;}
.matrix-legend div {float:left;
	width: 33.3%;
	text-align: center;}
	
.option-list {width: 70%;
	margin: 0 auto;
    padding: 0px;}
.option-item {margin: 5px 0px;
    display: inline-block;
    clear: both;
    width: 100%;}
.option-item-add {margin: 5px 0px;
    display: inline-block;
    clear: both;
    float:center;
    width: 100%;}
.option-item .circle-info {}
.option-title {width: 70% !important;
    margin: 0px 5px;
    height: 28px !important;}
.option-icons button {margin: 0px 3px;}
.btn-plus-small {font-size: 1.3em;}
.btn-plus-small:hover {cursor:pointer;}
.routes-select {display: flex;}
.routes-select label {margin-top: 3px;}
.routes-select select {margin: 0px 8px;}

.form-group input[type=file] {height: auto;}
.previewFileUpliaded {text-align: center;
	margin-top: 5px;
	margin-bottom: 40px;}
.previewFileUpliaded img{max-width: 60%}

/*----------------------------------------------*\
		$USER_PANEL_EDIT_SURVEY
\*----------------------------------------------*/

.survey-form {border: 2px solid #337ab7;
    border-radius: 10px;
    padding: 15px 1.5%;}
.form-question {background-color: #C8C8C8;
	border-radius: 10px;
    padding: 1.5%;
    margin-bottom: 2%;
    border: 2px solid #000;}
.form-question textarea {border: 1px solid #000;}
.form-question label {font-size: 1.3em !important;
	width: 95%;}
.form-question legend {font-size: 1.3em !important;
    width: 95%;
    font-weight: bold;
    border: none;
    margin-bottom: 5px;}
.form-question label img {margin: 5px;}
.form-question-content {margin: 0 auto;
	    width: 32%;
	    min-width: 200px;}
.form-question-content .likert-options .likert-options-frame {background-color: #fff;}
/*.form-options {display: inline-block;
    text-align: left;}*/
.btn-submit-page {margin-top: 20px;}

.survey-finish-content {width: 50%;
	margin: 280px auto;
	text-align: center;}
	
.type-tittle{
	margin-top: 6px !important
}

.mandatory-button{
	margin-top: 3px !important
}

.question-files-frame {
	/*border: 1px solid #555;*/
	margin: 0px 0px;
	padding: 5px 0px;
    border-radius: 5px;
    text-align: left;
    position: relative;
    min-height:30px !important;}
    
.question-options {background-color: #C8C8C8;
    padding: 1.5%;
    margin-top: -4px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
    display: inline-block;}
    
.question-options-aligned {background-color: #C8C8C8;
    padding: 1.5%;
    margin-bottom: 2%;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
    display: inline-block;
    vertical-align: middle !important;
    height: 50px;
	line-height: 50px;}
	
.question-options-aligned select {color: #4A4A4A;
	border-color: #4A4A4A; margin-top: 0 !important;}
	
.question-options-aligned label{
	height: 50px;
	line-height: 50px;
	vertical-align: middle !important;
}
    
.question-response-settings{
    vertical-align: middle;
    }
    
.question-response-settings label{
    font-weight: normal;
    vertical-align: middle;
    }

.question-response-settings-sub {
	display: inline-block;
}

.question-response-settings-options input{
    display:inline-block;
    vertical-align: middle;
    }

.question-response-settings-options label{
    display:inline-block;
    vertical-align: middle;
	}
  
.question-response-settings-sub-inherit{
	display: inline-block;
    vertical-align: middle;
}

.question-response-settings-sub-none{
	display: none !important;
}
  
.question-response-settings-sub-inherit input{
	display: inline-block;
    vertical-align: middle;
}	

.question-response-settings-sub-inherit label{
	color: #696464;
	font-weight: normal;
	padding: 0px !important;
    vertical-align: middle;
	display: inline-block;
}

/*----------------------------------------------*\
		$POLLS
\*----------------------------------------------*/

.list-content li {list-style: initial !important;}	
.results-page-call {width: 92%;
    margin: 0 auto;}
.results-page-call label {font-weight: normal;}
.poll-table-tr-th-actions {width: 23.1%;}
.poll-table-tr-th-responses {width: 22.8%;}
.poll-table-tr-th-deadline {width: 15%;}
.poll-table-tr-th-numresp {width: 16%;}

.iframe-example {/*border: 2px solid #CCCCCC;*/
    padding: 15px;
    /*width: 475px;*/
    margin: 20px auto;
    display: table;}
.code-poll-frame {border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px 20px;
    width: 700px;
    margin: 10px auto;}
.poll-size {margin-top: 15px;}
.poll-size legend {font-size: 1.1em;
    border: none;
    margin-bottom: 0px;
    float: left;
    width: inherit;
    margin-right: 10px;
    padding: 5px 0px;
    font-weight: bold;}
.poll-size input {width: 75px;
    text-align: right;
    display: inline;
    height: 30px;}
